
@model StudentSystem2016.VModels.Models.Products.ProducLIst
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '2369841669923362');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=2369841669923362&ev=PageView&noscript=1" />
    </noscript>
</head>
<body>
    @{
        if (Model.Items.Count != 0)
        {
            foreach (var item in Model.Items)
            {
                <div class="productGalery">
                    <div class="row img"  id="hoverImg" onclick="GoToProduct(@item.ID)"style="background-image:url('../../@item.Image')">
                       
                    </div>
                    <div class="row title">
                        <p>@item.Title</p>
                    </div>
                    <div class="row">
                        @if (item.Quantity > 0)
                        {
                            <span style="color:green"> В наличност</span>
                        }
                        else
                        {
                            <span style="color:red"> Не е в наличност</span>
                        }
                    </div>
                    <div class="row price">
                        @{
                            string price = item.Price.ToString();
                            int positionOfDot = price.IndexOf(".");
                            if (positionOfDot == -1)
                            {
                                price += ".00";
                            }
                            else
                            {
                                int difrentOf = price.Length - positionOfDot;
                                if (difrentOf < 3)
                                {
                                    price += "0";
                                }
                            }
                            <h4>@price лв.</h4>

                        }
                    </div>
                    <div class="row button ">
                        <a href="../../Order/Details/@item.ID" class="btn btn-success ">Виж повече</a>
                    </div>
                </div>
            }
        }
        else
        {
            <h3 style="margin-top:50px; color:red">Няма намерени продукти в тази категория</h3>

        }
    }
    <div class="row">
        <div class="pageVM">
            @Html.Partial("_PageView");
        </div>
    </div>

</body>
</html>